extends ../../layouts/admin

block content
  form(method='post')
    h2 Are you sure you want to delete #[strong= event.name]?
    p
      button.btn.btn-danger(type='submit') Yes
      | &nbsp;
      a.btn.btn-default(href=event_path(event)) No
