extends layouts/default

block content
  if current_event
    h1 Welcome to #{current_event.name}!
    h2 Please use an app on your phone to scan the QR Code on the back of your name tag
  else
    h1 Service Unavailable
