extends ../layouts/user

block content
  h1 #{current_event.name} Feedback
  form(method='post')
    each q, index in current_event.questionnaire
      h3= q.question
      if q.type == 'text'
        .form-group
          input.form-control(name='answers['+index+']', required)
      if q.type == 'rating'
        .radio
          label
            input(type='radio', name='answers['+index+']', value='0')
            | Very poor
        .radio
          label
            input(type='radio', name='answers['+index+']', value='1')
            | Poor
        .radio
          label
            input(type='radio', name='answers['+index+']', value='2')
            | Fair
        .radio
          label
            input(type='radio', name='answers['+index+']', value='3')
            | Good
        .radio
          label
            input(type='radio', name='answers['+index+']', value='4')
            | Very good
    p
      button.btn.btn-primary(type='submit') Submit
      | &nbsp;
      a.btn.btn-default(href=event_page_path) Cancel
