extends ../../layouts/admin

block content
  form(method='post')
    h2 Are you sure you want to delete #[strong= participant.name]?
    p
      button.btn.btn-danger(type='submit') Yes
      | &nbsp;
      a.btn.btn-default(href=participant_path(participant)) No
